@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Cuisine

<h2>Edit</h2>

<h4>Edit this cuisine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    <p>@Html.HiddenFor(model => model.CuisineId)</p>
    <p>@Html.LabelFor(model => model.Name)</p>
    <p>@Html.EditorFor(model => model.Name)</p>


    <input type="submit" value="Save" />
}
<br>
<p>@Html.ActionLink("Back to cuisines", "Index")</p>